.SideBarContainer {
    background-color:#1F2833;
    width: 266.656px;
    height: 100%;
    padding: 0;
    float: left;
}

.LogoContainer{
    height: 150px;
    border-bottom: 1px solid rgb(170, 156, 156);
    background-color: #282A35;
}

.LogoText{
    color: white;
    font-size: 25px;
    display: block;
    text-align: center;
    padding-top: 25%;
}

.SideBarList{
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

.SideBarRow{
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

.SideBarRow:hover{
    cursor:pointer;
    background-color: #293846;
}

.ItemsText{
    flex: 70%;
}

.Icon{
    flex: 30%;
    display: grid;
    place-items: center;
}

.Link{
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
}


